@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nasconde le scrollbar SOLO su mobile */
@media (max-width: 1023px) {
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE e Edge */
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

/* Ripristino stile su desktop */
@media (min-width: 1024px) {
    .scrollbar-default {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
    .scrollbar-default::-webkit-scrollbar {
        display: block;
    }
}

/* resources/css/app.css */
.scrollbar-none { -ms-overflow-style: none; scrollbar-width: none; }
.scrollbar-none::-webkit-scrollbar { display: none; }
